.odd {
    background-color: rgb(255, 135, 150);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.wide {
    font-size: 24px;
}

#second-element {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#fourth-element {
    background-color: lightgreen;
    font-weight: bold;
}

