* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
  "header header"
  "aside nav"
  "aside main"
  "footer footer";
  gap: 5px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.logo {
  justify-self: start;
}

.menu {
  justify-self: end;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 80px;
}

.header div {
  display: inline-block;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu li {
  list-style-type: none;
  padding: 0px;
  display: inline-block;
  margin-right: 20px;
}

.sidebar {
  background-color: #C50208;
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  min-height: 100px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  min-height: 100px;
}

.nav {
  background-color: #C50208;
  grid-area: nav;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
}

.article {
  background-color: #bccbde;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}